/*global*/
*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}
.container{
	width: 80%;
	max-width: 100%;
	margin: 0 auto;
}

/*header*/
.header{
	background-image: url("../imgs/header-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	/*width: 100vw;*/
}
.heading{
	padding-top: 2rem; 
}
.heading .menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.heading .menu .logo img{
	width: 3.5rem;
}
.menu ul li a{
	text-decoration: none;
	color: #77858d;
}
.menu ul li a:hover{
	color: #ffc178;
	text-decoration: underline;
}
.menu ul li:last-child a{
	font size: 1rem;
	padding: 1em 1.5em;
	color: #ffc178;
	background: #ffffff;
	border-radius: 1.5rem; 
	/*filter: drop-shadow(1px #888888);*/
	box-shadow: 0 0 .8px 0 #888888;
}



/*banner or slider*/
.banner {
	height: 100vh;
}
.menu ul li{
	font-size: 1rem;
	list-style: none;
	display: inline;
	padding-left: .8rem;
}

.banner {
	background-image: url(../imgs/slider.png);
	background-size: 90vw;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: -2.5rem;	
}
.slider-text{
	padding-top: 7.5rem;
	width: 31.25rem;
}
.slider-text h1{
	font-size: 2.5rem;
	color: #ffc178;
	padding-bottom: 1.5rem;
}
.slider-text p{
	font-size: 1.2rem;
	line-height: 1.5;
}
.voc-btn{
	padding-top: 1.2rem;
}
.voc-btn a{
	font-size: 1.2rem;
	padding: 1em 1.5em;
	border-radius: 2rem;
	background: #ffc178;
	display: inline-block;
	text-decoration: none;
	/*font-weight: bold;*/
	color: #ffffff;	
	box-shadow: 0 0 .8px 0 #888888;
}



/*Our depertment text*/
.our-depertment{
	margin-top: -100px;
}
.depertment-text{
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
.depertment-text h1{
	font-size: 2.5rem;
	padding: 20px;
}
.depertment-text p{
	font-size: 1rem;
}

/*our education*/
.our-depertment .container{

}
.services{
	display: flex;	
	justify-content: center;
	margin: 0 auto;
	padding-top: 40px;
}

.single-service{
	position: relative;
	margin-right: 20px;
}
.services:last-child{
	margin-right: 0;
}
.background{
	width: 250px;
	height: 300px;
} 
.single-service .background img{
	width: 180px;
	height: 200px;
	margin: 0 auto;
	display: block;
	padding-top: 10%;
}
.single-service .background h1{
	text-align: center;
	position: absolute;
	bottom: 20%;
	left: 0;
	right: 0;
	color: #fff;
}
.single-service:first-child div{
	background: #f9703a;
}
.single-service:nth-child(2) div{
	background: #80be41;
}
.single-service:nth-child(3) div{
	background: #ffb157;
}